* {
    padding: 0;
    margin: 0;
}

body{
    background-color: #2977F512;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    /* background-color: #fff;
    min-height: 50vh;
    min-width: 50vh;
    border-radius: 10%; */
    background-color: #fff;
    min-height: 50vh;
    min-width: 50vh;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .res-container{
    background-color: #2977F512;
    display: block;
    text-align: left;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 2vh;
    margin-left: 0.5vh;
    min-height: 12vh;
    min-width: 10vh;
    max-width: 40vh;
    max-height: 35vh;
    padding: 3vh;
    border-radius: 10%;
    word-wrap: break-word;
    overflow-y: auto;
    }

    h2{
        text-align: center;
        color: #2977F5;
        text-align: center;
    }
}

.input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}

#submit-btn {
    background-color: #2977F5;
    cursor: pointer;
    border-radius: 10px;
    height: 4vh;
    width: 4vh;
}

#prompt {
    border-radius: 10px;
    height: 5vh;
    width: 25vh;
    padding: 3vh;

    white-space: pre-wrap;
    overflow-wrap: break-word;

    resize: none;
    ::placeholder{
        color: #a0a0a0;
        font: 0.9rem;
    }
}

#response i {
    color: #a0a0a0;
    font: 0.9rem;
}